.ant-form-item .ant-form-item-label > label {
  font-size: 16px;
  padding-right: 16px;
}

.custom-button:hover {
  background-color: #0a7ded !important;
  fill: #fff !important;
  color: #fff !important;
}
