.scrollbar {
  scrollbar-color: auto;
}
.scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  opacity: 0;
  background-color: #fff;
}
.scrollbar::-webkit-scrollbar:hover {
  width: 8px;
}
.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: transparent;
  cursor: pointer;
}
.scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(119, 140, 162, 1);
}
.alarm-list::-webkit-scrollbar-track {
  background-color: transparent;
  opacity: 0;
}
